[submodule "1-js-drum-kit"]
	path = 1-js-drum-kit
	url = https://github.com/mapu77/1-js-drum-kit
[submodule "2-css-js-clock"]
	path = 2-css-js-clock
	url = https://github.com/mapu77/2-css-js-clock
[submodule "3-css-variables"]
	path = 3-css-variables
	url = https://github.com/mapu77/3-css-variables
[submodule "4-array-cardio-1"]
	path = 4-array-cardio-1
	url = https://github.com/mapu77/4-array-cardio-1
